# OS temporary files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# Logs
*.log

# Python cache
__pycache__/
*.pyc

# IDE configs
.vscode/
.idea/

# Android Build & Gradle caches
.gradle/
**/build/
android-pk-keyboard/.gradle/
android-pk-keyboard/build/
android-pk-keyboard/app/build/
*.hprof
local.properties
*.iml

# Scratch / temporary scripts
scratch/

